$primary: #fecd34;
$secondary: #4c3451;
$light: #f9f9f9;

// Custom colors
$primary-alt: #fff9e7;
$primary-second: #fff0c2;
$light-alt: #f1f2f5;
$secondary-alt: #68556c;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-colors: (
  "primary-alt": $primary-alt,
  "primary-second": $primary-second,
  "light-alt": $light-alt,
  "secondary-alt": $secondary-alt,
);

$theme-colors: map-merge($theme-colors, $custom-colors);
// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

:root {
  --bs-body-font-family: "Roboto", sans-serif;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
}

p {
  margin-bottom: 0;
}

.bg-hover-light-alt:hover {
  background-color: $light-alt !important;
}

.spacer {
  margin-top: 100px;
}
